.wrapper
  .content-wrapper
    #text-heading
    ul.nav
      li
        a(href="#") Blog
      li
        a(href="#") Projects
      li
        a(href="#") Github
      li
        a(href="#") Soundcloud
      li
        a(href="#") Resume
